<?xml version="1.0" ?>
<robot name="green_cube">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="0.1"/>
      <inertia ixx="8.333333333333336e-05" ixy="0.0" ixz="0.0" iyy="4.166666666666668e-05" iyz="0.0" izz="4.166666666666668e-05"/>
    </inertial>
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0375 0.0 0.025"/>
      <geometry>
        <box size="0.075 0.04 0.05"/>  <!-- Aumentamos la longitud en X para que sea rectangular -->
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/>  <!-- Color verde (RGBA) -->
      </material>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0375 0.0 0.025"/>
      <geometry>
        <box size="0.075 0.04 0.05"/>  <!-- Aumentamos la longitud en X para que sea rectangular -->
      </geometry>
    </collision>
  </link>
  <gazebo reference="base_link">
    <material>Gazebo/Green</material>  <!-- Cambiado a color verde en Gazebo -->
    <gravity>1</gravity>  <!-- Habilita la gravedad -->
  </gazebo>
</robot>