<launch>
    <!-- Lanzar Gazebo con el mundo de Sawyer -->
    <include file="$(find sawyer_gazebo)/launch/sawyer_world.launch"/>

    <!-- Ejecutar el script de Pick and Place -->
    <node name="simple_pick_and_place" pkg="test_scripts" type="test_arm.py" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>

    <!-- Ejecutar el script de detección de color -->
    <node name="color_detector" pkg="test_scripts" type="detect_blocks.py" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>
</launch>
